/TP1/Ej_1_Bisiesto/nbproject/private/
/TP2/Ej_1_Bisiestos/nbproject/private/
/TP2/Ej_1_Bisiestos/build/
/TP2/Ej_2_MayorDeTres/nbproject/private/
/TP2/Ej_2_MayorDeTres/build/
/TP2/Ej_3_ClasificaEdad/nbproject/private/
/TP2/Ej_3_ClasificaEdad/build/
/TP2/Ej_4_DescuentoPorCategoria/nbproject/private/
/TP2/Ej_4_DescuentoPorCategoria/build/
/TP2/Ej_5_SumaDePares/nbproject/private/
/TP2/Ej_5_SumaDePares/build/
/TP2/Ej_6_ContadorPositivosNegativosCeros/nbproject/private/
/TP2/Ej_6_ContadorPositivosNegativosCeros/build/
/TP2/Ej_7_ValidarNota/nbproject/private/
/TP2/Ej_7_ValidarNota/build/
/TP2/Ej_8_PrecioFinal/nbproject/private/
/TP2/Ej_8_PrecioFinal/build/
/TP2/Ej_9_CompraConEnvio/nbproject/private/
/TP2/Ej_9_CompraConEnvio/build/
/TP2/Ej_10_ActualizarStock/nbproject/private/
/TP2/Ej_10_ActualizarStock/build/
/TP2/Ej_11_DescuentoEspecial/nbproject/private/
/TP2/Ej_11_DescuentoEspecial/build/
/TP2/Ej_12_ArrayConPrecios/nbproject/private/
/TP2/Ej_12_ArrayConPrecios/build/
/TP2/Ej_13_ArrayConPreciosRecursivos/nbproject/private/
/TP2/Ej_13_ArrayConPreciosRecursivos/build/
/TP2/JavaApplication24/nbproject/private/
/TP2/JavaApplication24/build/
/TP3/ej_1_estudiantes/nbproject/private/
/TP3/ej_1_estudiantes/build/
/TP3/TP3/nbproject/private/
/TP3/TP3/build/
/TP4/Sistema_De_Gestion_De_Empleados/nbproject/private/
/TP4/Sistema_De_Gestion_De_Empleados/build/
/TP5/UmlPasaporteFotoTitular/nbproject/private/
/TP5/UmlPasaporteFotoTitular/build/
/TP5/UmlCelularBateriaUsuario/nbproject/private/
/TP5/UmlCelularBateriaUsuario/build/
/TP5/UmlLibroAutorEditorial/nbproject/private/
/TP5/UmlLibroAutorEditorial/build/
/TP5/UmlTarjetaClienteBanco/nbproject/private/
/TP5/UmlTarjetaClienteBanco/build/
/TP5/UmlComputadoraPlacaPropietario/nbproject/private/
/TP5/UmlComputadoraPlacaPropietario/build/
/TP5/UmlReservaMesaCliente/nbproject/private/
/TP5/UmlReservaMesaCliente/build/
/TP5/UmlVehiculoConductorMotor/nbproject/private/
/TP5/UmlVehiculoConductorMotor/build/
/TP5/UmlDocumentoFirmaUsuario/nbproject/private/
/TP5/UmlDocumentoFirmaUsuario/build/
/TP5/UmlCitaPacienteProfecional/nbproject/private/
/TP5/UmlCitaPacienteProfecional/build/
/TP5/UmlCuentaClaveTitular/nbproject/private/
/TP5/UmlCuentaClaveTitular/build/
/TP5/UmlCancionArtistaReproductor/nbproject/private/
/TP5/UmlCancionArtistaReproductor/build/
/TP5/UmlImpuestoContribuyenteCalculadora/nbproject/private/
/TP5/UmlImpuestoContribuyenteCalculadora/build/
/TP5/UmlGeneradoQrUsuarioCodigoQr/nbproject/private/
/TP5/UmlGeneradoQrUsuarioCodigoQr/build/
/TP5/UmlRenderProyectoEditor/nbproject/private/
/TP5/UmlRenderProyectoEditor/build/
/TP6/sistemaDe Stock/nbproject/private/
/TP6/SistemaDeStock/nbproject/private/
/TP6/SistemaDeStock/build/
/TP6/Biblioteca/nbproject/private/
/TP6/GestionBiblioteca/nbproject/private/
/TP6/GestionBiblioteca/build/
/TP6/GestionUniversidad/nbproject/private/
/TP6/GestionUniversidad/build/
/TP7/Kata_Vehiculo/nbproject/private/
/TP7/Kata_Vehiculo/build/
/TP7/Kata_FigurasGeometricas/nbproject/private/
/TP7/Kata_FigurasGeometricas/build/
/TP7/JavaApplication50/nbproject/private/
/TP7/Kata_Empleados/nbproject/private/
/TP7/Kata_Empleados/build/
/TP7/Kata_SonidoAnimales/nbproject/private/
/TP7/Kata_SonidoAnimales/build/