/TP1/Ej_1_Bisiesto/nbproject/private/
/TP2/Ej_1_Bisiestos/nbproject/private/
/TP2/Ej_1_Bisiestos/build/
/TP2/Ej_2_MayorDeTres/nbproject/private/
/TP2/Ej_2_MayorDeTres/build/
/TP2/Ej_3_ClasificaEdad/nbproject/private/
/TP2/Ej_3_ClasificaEdad/build/
/TP2/Ej_4_DescuentoPorCategoria/nbproject/private/
/TP2/Ej_4_DescuentoPorCategoria/build/
/TP2/Ej_5_SumaDePares/nbproject/private/
/TP2/Ej_5_SumaDePares/build/
/TP2/Ej_6_ContadorPositivosNegativosCeros/nbproject/private/
/TP2/Ej_6_ContadorPositivosNegativosCeros/build/
/TP2/Ej_7_ValidarNota/nbproject/private/
/TP2/Ej_7_ValidarNota/build/
/TP2/Ej_8_PrecioFinal/nbproject/private/
/TP2/Ej_8_PrecioFinal/build/
/TP2/Ej_9_CompraConEnvio/nbproject/private/
/TP2/Ej_9_CompraConEnvio/build/
/TP2/Ej_10_ActualizarStock/nbproject/private/
/TP2/Ej_10_ActualizarStock/build/
/TP2/Ej_11_DescuentoEspecial/nbproject/private/
/TP2/Ej_11_DescuentoEspecial/build/
/TP2/Ej_12_ArrayConPrecios/nbproject/private/
/TP2/Ej_12_ArrayConPrecios/build/
/TP2/Ej_13_ArrayConPreciosRecursivos/nbproject/private/
/TP2/Ej_13_ArrayConPreciosRecursivos/build/
